@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-times;
  }


  html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  @media only screen and (max-width: 640px) {
    #createButton{
      margin-bottom: 8px !important;
    }
  }


  @media only screen and (max-width: 1280px) {
    #dashboard{
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @media only screen and (max-width: 1024px) {
    #dashboard{
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }

  @media only screen and (max-width: 830px) {
    #dashboard{
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }

  @media only screen and (max-width: 768px) {
    #createButton{
      margin-bottom: 8px !important;
    }

    .custom-grid {
      margin-left: 3% !important;
      width: 90% !important;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      justify-items: center;
      align-items: center;
  }
  }

  @media only screen and (max-width: 620px) {
    .custom-grid {
      margin-left: 3% !important;
      width: 100% !important;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      justify-items: center;
      align-items: center;
  }
  .custom-grid i {
    font-size: 50px;
  }
  }
  
  /* #logout-form{
    margin-top: -10px;
  } */